$primary: rgb(253, 245, 251);
//rgb(253, 245, 251);
$secundary: rgb(230, 213, 62);
//rgb(247, 241, 234);
$addButton: rgb(3, 197, 3);
$deleteButton: rgb(216, 7, 7);
$black: rgb(49, 49, 49);
$white: white;
$resultButton: rgb(33, 143, 207);
