$primary: white;
$secundary: rgb(230, 213, 62);
$addButton: rgb(3, 197, 3);
$deleteButton: rgb(216, 7, 7);
$black: rgb(0, 0, 0);
$white: white;
$resultButton: rgb(33, 143, 207);
$delAllButton: rgb(241, 182, 20);
