@import "../../const/variants.scss";

.table-container {
  width: 100%;
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  .table-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-left: 450px;
    input {
      width: 100%;
      height: 100px;
      margin: 10px;
      border: 1px solid $black;
      border-radius: 10px;
    }
  }
  .datos-agrupados {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    color: $white;
    border-radius: 5px;
    button {
      width: 50px;
      height: 50px;
      border: 1px solid $black;
      border-radius: 30px;
      color: $white;
      transition: all 0.2s;
      &:hover {
        font-size: 1.2em;
        font-weight: 500;
      }
    }
    h3 {
      color: $white;
    }

    #si-datos {
      margin-right: 50px;
      background-color: $deleteButton;
    }
    #no-datos {
      background-color: $addButton;
    }
  }
}

@media only screen and (max-width: 768px) {
  .table-container {
    .table-information {
    }
  }
}
